<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/HomePage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Lets Kiddo!</title>
</head>
<body>


    <nav>


        <h4 id="letsKiddoTitle">Lets Kiddo!</h4>

        <div class="user-wrapper">
            <img src="{{PictureUrl}}" alt="Sadita ahmed" width="30px" height="30px">
            <div>
                <h4>{{Name}}</h4>
                <small> {{AgeGroup}}, {{UserID}} </small>
            </div>

        </div>


    </nav>
    <div style=" background-color: darkblue;">
        <button class="btn second" onclick="window.location.href='/HomePage';"><strong>Home</strong></button>
        <button class="btn second" onclick="window.location.href='/friendList';"><strong>Friends list</strong></button>
        <button class="btn second" onclick="window.location.href='/games';"><strong>Games</strong></button>
        <button class="btn second" onclick="window.location.href='/learnFun';"><strong>Learn fun</strong></button>
        <button class="btn second" onclick="window.location.href='/profile';"><strong>Profile</strong></button>
        <button class="btn second" onclick="window.location.href='/';"><strong>Log Out</strong></button>
    </div>



    <h1 style="text-align:center; background-color: yellow;">Here is your Friends List</h1>


    <br>
    <br>
    <br>
    <br>
    <div id="Picture" style="padding: 100px; width: 150px; display: inline-block;"></div>
    <div id="name" style="padding: 100px; height: 100px; display: inline-block;"></div>













    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>




    {{#each userPicUrlData}}


    <script type="text/javascript">

        var userPicUrlData = ["{{this}}",];
        for (var i = 0; i < userPicUrlData.length; ++i) {
            var html = `<img id="friendPic" src="` + userPicUrlData[i] +`"><br><br> `;
            $('#Picture').append(html);
                }

    </script>
    {{/each}}




    {{#each userNameData}}


    <script type="text/javascript">

        var userNameData = ["{{this}}",];
        for (var i = 0; i < userNameData.length; ++i) {
            var html = `<strong> <h4 id="friendName">` + userNameData[i] +`</h4></strong><br><br><br><br> `;
            $('#name').append(html);
                }

    </script>
    {{/each}}



</body>
</html>

